aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
Automat==22.10.0
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
constantly==15.1.0
cryptography==40.0.2
cssselect==1.2.0
decorator==4.4.2
Django==4.2.1
django-admin==2.0.2
django-excel-response2==3.0.5
django-six==1.0.5
entrypoints==0.4
excel-base==1.0.4
exceptiongroup==1.1.1
filelock==3.12.0
frozenlist==1.3.3
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
gunicorn==20.1.0
huepy==1.2.1
hyperlink==21.0.0
idna==3.4
imageio==2.28.1
imageio-ffmpeg==0.4.8
importlib-metadata==6.6.0
incremental==22.10.0
iniconfig==2.0.0
isoweek==1.3.3
itemadapter==0.8.0
itemloaders==1.1.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.17.3
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
mock==5.0.2
moviepy==1.0.3
multidict==6.0.4
Naked==0.1.32
numpy==1.24.3
openai==0.27.6
packaging==23.1
pandas==2.0.1
parsel==1.8.1
Pillow==9.5.0
pluggy==1.0.0
proglog==0.1.10
Protego==0.2.1
protobuf==3.20.3
proxyscrape==0.3.0
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.17
pydeck==0.8.1b0
PyDispatcher==2.0.7
Pygments==2.15.1
Pympler==1.0.1
pyOpenSSL==23.1.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.3.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
queuelib==1.6.2
requests==2.30.0
requests-file==1.5.1
requests-toolbelt==1.0.0
responses==0.23.1
rich==13.3.5
rsa==4.9
schedule==1.2.0
Scrapy==2.9.0
scrapy-proxy-pool==0.1.9
scrapy-rotating-proxies==0.6.2
screen==1.0.1
service-identity==21.1.0
shellescape==3.8.1
six==1.16.0
smmap==5.0.0
soupsieve==2.4.1
sqlparse==0.4.4
streamlit==1.22.0
tenacity==8.2.2
TimeConvert==3.0.13
tldextract==3.4.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.3.1
tqdm==4.65.0
Twisted==22.10.0
types-PyYAML==6.0.12.9
typing==3.7.4.3
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==2.0.2
validators==0.20.0
w3lib==2.1.1
watchdog==3.0.0
xlwt==1.3.0
yarl==1.9.2
zipp==3.15.0
zope.interface==6.0
